.topnav {
    font-family: "CenturyGothicRegular", "Century Gothic", Arial, Helvetica, sans-serif;
}

.topnav li{
    cursor:pointer;
    color: navy;
}
  
ul.topnav {
    padding: 0;
    margin: 0;
    font-size: 1em;
    line-height: 1.5em;
    list-style: none;
}
  
ul.topnav li {
    display: block;
    vertical-align:middle;
}

ul.topnav input[type='checkbox'] {
    vertical-align:middle;
}
  
ul.topnav li .menuitem {
    padding: 5px;
    line-height: 30px;
    font-size: 14px;
    color: #000;
    display: inline;
    text-decoration: none;
    font-weight: bolder;
}
  
ul.topnav li .menuitem:hover {
    color:#675C7C;
}
  
ul.topnav ul {
    margin: 0;
    padding-left: 15px;
    display: none;
}
  
ul.topnav ul li {
    padding: 0px 0px 0px 20px;
    margin: 0;
    padding: 0;
    clear: both;
}
  
ul.topnav ul li .menuitem {
    padding-left: 15px;
    font-size: 12px;
    font-weight: normal;
}
  
ul.topnav ul li .menuitem:hover {
    color:#675C7C;
}
  
ul.topnav ul ul ul li .menuitem {
    color:black;
    padding-left: 20px;
    margin-bottom: 5px;
    font-weight: bold;
}
 
ul.topnav ul ul li .menuitem:hover {
/*    background-color:#D3CEB8;
    color:#675C7C;
*/
}
  
ul.topnav span{
    position:relative;
    padding-right: 15px;
}

.markerHolder {
width: 20px;
float:left;
}        

input.menuCheckbox{
    float: right; 
    display: block; 
    width: 15px;
}

span.checkboxLabel{
    display: block; 
    width: 280px; 
    float: right;
    line-height:15px;
    margin-bottom:15px;
}

