#accordion-menu {
}


.topnav {
    /* this is for topnav itself*/
    list-style: none;
    padding-left: 0px;
}

.topnav ul {
    /* this is for all ul elements under topnav*/
    list-style: none;
    display: none;
}


.menuitem {
    cursor: pointer;
    width: 70%;
    margin-left: 10px;
    padding-left: 5px;
    padding-bottom: 0px;
    padding-top: 0px;
    background: #FEFFFF;
    color: #2B7A78;
    display: block;
}


.menulevel {
    /*all divs*/
    display: inline-block;
    cursor: pointer;
    font-size: 20px;
    line-height: 20px;
    width: 93%;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    white-space: nowrap;
    color: #2B7A78;
}

.levLabel{
  display: inline-block;
  white-space: normal;
  vertical-align: top;
  margin-right: 5px;
}

.topnav li .menulevel {
    /* this is for menulevel divs in 1st and lower levels*/
    width: 85%;
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 18px;
}
  
.topnav li li .menulevel {
    /* this is for menulevel divs in 2nd and lower levels*/
    width: 80%;
    margin-left: 10px;
    font-size: 16px;
}

.topnav li li li .menulevel {
    /* this is for menulevel divs in 3nd and lower levels*/
    width: 75%;
    margin-left: 10px;
    font-size: 14px;
}
 
.topnav li li li li .menulevel {
    /* this is for menulevel divs in 3nd and lower levels*/
    width: 70%;
    margin-left: 20%;
    font-size: 12px;
}


.menulevel:hover {
    color:#675C7C;
}
  
.openCloseSign{
    position:relative;
    margin-right: 15px;
}

.checkboxLabel{
    cursor:pointer;
    white-space: nowrap;
}

.checkboxLabel input{
  vertical-align: top;
}

.checkboxLabel span{
  display: inline-block;
  white-space: normal;
  vertical-align: top;
  margin-left:20px;
}

.info {
    display: block;
    clear:both;
    color: #AAAAAA;
    padding-left: 50px;
    font-size: 13px;
}
.menuitemLinks {
    display: block;
    clear:both;
    font-size: 13px;
}
