#menu{
    width: 40%;
    margin:auto;
}

.topnav {
    /* this is for topnav itself*/
    list-style: none;
}

.topnav ul {
    /* this is for all ul elements under topnav*/
    list-style: none;
    display: none;
}


.menuitem {
    display: inline-block;
    cursor: pointer;
    line-height: 30px;
    font-size: 12pt;
    height: 50px;
    width: 75%;
    margin-left: 20%;
    padding-left: 5%;
    background: var(--colD);
    color: var(--colC);
    font-family: 'Rubik',sans-serif;
}


.menulevel {
    /*all divs*/
    display: inline-block;
    cursor: pointer;
    font-weight: none;
    font-size: 15pt;
    min-height: 50px;
    line-height: 30px;
    width: 93%;
    padding-left: 5%;
    font-family: 'Rubik',sans-serif;
}



.topnav li .menulevel {
    /* this is for menulevel divs in 1st and lower levels*/
    background: var(--colE);
    color: var(--colC);
    width: 89%;
    margin-left: 8%;
    text-transform: uppercase;
}
  
.topnav li li .menulevel {
    /* this is for menulevel divs in 2nd and lower levels*/
    width: 86%;
    margin-left: 11%;
    background: var(--colE);
    color: var(--colC);
    font-size: 14pt;
}

.topnav li li li .menulevel {
    /* this is for menulevel divs in 3nd and lower levels*/
    width: 83%;
    margin-left: 14%;
    background: var(--colE);
    color: var(--colC);
    font-size: 13pt;
}
 
.topnav li li li li .menulevel {
    /* this is for menulevel divs in 3nd and lower levels*/
    width: 80%;
    margin-left: 17%;
    background: var(--colE);
    color: var(--colC);
    font-size: 12pt;
}


.menulevel:hover {
    color:#675C7C;
}
  
.openCloseSign{
    position:relative;
    margin-right: 15px;
}

.checkboxLabel{
    line-height:15px;
    cursor:pointer;
    padding-right: 15px;
}
.checkboxLabel input{
    margin-right: 15px;
}


