body{
    margin-left:30px;
}
.warning {
    color:red;
    font-weight:bold;
}

input[type=text] {
    background:#ffffff;
    border-color:#dddddd;
}

input[disabled] {
    background:#ffffff;
    border-color:#ffffff;
    border-width:0px;
    color:#555555;
}

.nonempty, input[type=text].nonempty, textarea.nonempty, select option .nonempty{
    background:#eeeeee;
}

input.text {
    height:8px;
}

th { 
    background : #AAA;
}

.twoColour tr:nth-child(odd) { 
    background : #FFF;
}
.twoColour tr:nth-child(even) {
    background : #DDD;
}

.Cell {
    border: solid 1px #33FFFF;
    background : #FFF;
}


.Cell input{
    border : 0px solid #CCC;
    font-size : 11px;
    padding : 4px 5px;
    margin : 0 0px 0 0px;
}

.centeritem{
    text-align: center;
    margin: auto;
}

#datepicker{
    border : 0px solid #CCC;
    color : var(--colAnchor);
    font-size : 20px;
    font-weight:bold;
    padding-left: 25px;
}

#datepicker:hover{
    color : var(--colHover);
    cursor: pointer;    
}
