#adminContainer{
}

h3{
    margin-top : 30px;
    margin-bottom : 0px;
}

p{
    margin-bottom : 10px;
}

label p{
    font-size: 14px;
    font-weight:normal;
}

.warning {
    color:red;
}

input[type=text] {
    background:#ffffff;
    border-color:#dddddd;
}

input[disabled] {
    background:#ffffff;
    border-color:#ffffff;
    border-width:0px;
    color:#555555;
}

.nonempty, input[type=text].nonempty, textarea.nonempty, select option .nonempty{
    background: #fcf3cf;
}

input.text {
    height:8px;
}


.Cell {
    border: solid 1px var(--colD);
    background : var(--colE);
}


.Cell input{
    border : 0px solid #FFF;
    margin : 0 0px 0 0px;
}

.centeritem{
    text-align: center;
    margin: auto;
}

#datepicker{
    border : 0px solid #CCC;
    color : var(--colAnchor);
    font-size : 20px;
    font-weight:bold;
    padding-left: 25px;
}

#datepicker:hover{
    color : var(--colHover);
    cursor: pointer;    
}

.clickable{
    margin-bottom: 0px;
}
