/* GRAPHS */

#graphWrapper{
    width:100%;
    height:400px;
    background: aqua;
}

#graph{
    height:400px;
    width:80%;
    float:left;    
    font : 10px/12px Verdana, sans-serif;
    background: white;
    padding: 5px;
    padding: 0px;
    }

#graphControls{
    float: left;    
    width: 20%;
    height: 400px;
    background: white;
    padding: 0px;
}

#graphMenuAux{
    width: 90%;
    height: 245px;
    background: white;
    padding: 5px;
    overflow-y: auto;
    margin: auto;
}


.graphMenuItem{
    margin: auto;
    width: 90%;
    height: 30px;
    display: block;
    background: white;
    color: #666666;
    padding: 5px;
    margin-bottom: 5px;
    font : 12px/14px Lucida grande, sans-serif;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    cursor:pointer;
    border-radius: 10px;
    border: 0.1em solid #888888; 
}

.graphMenuItem.current{
    background: #BBBBBB;
    color: purple;
}

.graphMenuItem:hover{
    background: #BBBBBB;
}

.dataStreamInfo{
    width: 100%;
}
