/* GRAPHS */

#graphWrapper{
    margin:auto;
}

#graph{
    height:400px;
    width:100%;
    max-width:800px;
    background: white;
    margin:auto;
    padding: 0px;
    }

#graphMenu{
    text-align:center;
}

#graphMenuAux{
    width: 90%;
    font-size: 13px;
    padding: 5px;
    margin:auto;
    text-align:center;
}


.graphMenuItem{
    font-family: 13px/13px,'Rubik',sans-serif;
    width: 30%;
    max-width: 100px;
    margin: auto;
    display: inline-block;
    background: var(--colD);
    color: var(--colC);
    padding: 10px;
    margin-bottom: 5px;
    margin: 5px;
    font-size: 1.6vh;
    text-align: center;
    vertical-align: middle;
    cursor:pointer;
}

.graphMenuItem.current{
    background: var(--colC);
    color: var(--colE);
}

.graphMenuItem:hover{
    background: #BBBBBB;
}

.dataStreamInfo{
    width: 30%;
    margin: auto;
}
