/* GRAPHS */

#graphWrapper{
    width:95%;
    height:400px;
    padding: 20px;
    margin:auto;
    font-family: 'Rubik',sans-serif;
}

#graph{
    height:400px;
    width:80%;
    float:left;    
    background: white;
    padding: 0px;
    }

#graphControls{
    float: left;    
    width: 20%;
    height: 400px;
    background: white;
    padding: 0px;
}

#graphMenuAux{
    width: 90%;
    height: 245px;
    background: white;
    font-size: 1.5vh;
    padding: 5px;
    overflow-y: auto;
}


.graphMenuItem{
    margin: auto;
    display: block;
    background: white;
    color: #666666;
    padding: 5px;
    margin-bottom: 5px;
    font-size: 1.8vh;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    cursor:pointer;
    border-radius: 10px;
    border: 0.1em solid #888888; 
}

.graphMenuItem.current{
    background: #BBBBBB;
    color: purple;
}

.graphMenuItem:hover{
    background: #BBBBBB;
}

.dataStreamInfo{
    width: 30%;
    margin: auto;
}
