/* Reset */
html, body, ul, li, p{
}

#allContents{
    padding-bottom:30px;
}

.contentsDiv{
    padding-top:20px;
}

#loginContainer{
    float: right;
    display: block;
    margin-right:10px;
    font-size: 12px;
    line-height: 14px;
}

.carousel-inner{
  width:100%;
  max-height: 400px;
}

#mapDiv{
    width:80%;
    height:90%;
    margin:auto;
    margin-bottom: 30px;
}

#logos{
   padding-bottom:40px;
   margin-top:40px;
}
#floatFaq{
    position: fixed;
    margin-left:5px;
    bottom:25px;
    left:5px;
    font-size:35px;
    color: orange;
    cursor: pointer;
}

.infoLabel{
    text-transform: uppercase;
    text-align: right;
    color: #3AAFA9;
    vertical-align: top;
}

td,th{
    padding-bottom: 5px;
    padding-left: 10px;
}

a{
    cursor: pointer;
}

.highcharts-background{
    color: #aaa;
}
.warning{
    color: red;
}

.narrowTable{
    max-width:700px;
    margin: auto;
}

.verynarrowTable{
    max-width:360px;
    margin: auto;
}

.wrapper{
    border:1px solid #cecece;
    padding:5px;
}

.btn-custom.active{
    background:#eee !important;
    box-shadow:none !important;
}

/* these are copied from bootstrap.css and are necessary for datetimepicker to run properly*/

[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../img/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
  margin-top: 1px;
}

.icon-arrow-left {
  background-position: -240px -96px;
}

.icon-arrow-right {
  background-position: -264px -96px;
}

input[type="radio"]{
    cursor: pointer;
}


#highlightData{
  height: 200px;
  overflow-y: auto;
  scrollbar-width: thin; 
}

.clickable {
    color: #374785;
    cursor:pointer;
    text-decoration:none;
}

.clickable:hover{
    color: #17252A;
}


