:root {
--colA: #17252A;
--colB: #2B7A78;
--colC: #3AAFA9;
--colD: #DEF2F1;
--colE: #FEFFFF;
--colAnchor: #374785;
--colHover: #17252A;
}

/* Reset */
html, body, ul, li, table, thead, tfoot, tbody, th, tr, td, p{
    border : 0;
    margin : 0;
    outline : 0;
    padding : 0;
    color : var(--colC);
}

html, body, ul, li, p{
    font : 18px/24px 'Arial',sans-serif;
}

table{
    font : 80%/100% 'Arial',sans-serif;
    border-collapse: collapse;
}


/* BASICS */
H1, H2, H3 {
    font-family: 'Rubik', sans-serif;
    border-bottom : 0px dotted #B5B3A9;
    color : var(--colC);
    font-weight : normal;
    padding : 0 0 0 25px;
}

H1 {
    font-size : 200%;
    margin : 30px 0 10px 0;
}

H2 {
    font-size : 150%;
    margin : 30px 0 10px 0;
}

H3 {
    font-size : 110%;
    margin : 30px 0 10px 0;
}


#footer {
    display : block;
    margin:auto;
    border-top : 1px dotted var(--colB);
    clear : both;
    text-align: center;
    overflow-y: scroll;
    padding-left: 5px;
    padding-right: 5px;
}

#footer p {
    color : var(--colB);
    font : 70%/100% 'Arial', sans-serif;
}

#footer a:hover {
    color : var(--colHover);
}


#shade {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top:0px;
    left:0px;
    z-index: 11000;
    background: black;
    opacity: 0.3;
}

#loader{
    display: block;
    margin: auto;
    width: 5%;
    padding: 5% 0; 
 }

.narrowDiv{
    max-width:750px;
    width: 90%;
    margin: auto;
    overflow: auto;
    scroll-snap-align: start;
}

.wideDiv{
    width:100%;
    margin: auto;
    overflow: auto;
    scroll-snap-align: start;
}

.spacer{
   width: 0%;
   float: left;
}

.headerDiv{
    background: var(--colD);
    color: var(--colB);
    margin:auto;
    min-height: 10%;
    padding: 20px 0 20px 0; 
    text-align: center;
    text-transform: uppercase;
}

.contentsDivnarrow{
    max-width:750px;
    width: 90%;
    margin: auto;
}

.headerText{
    font : 180%/200% 'Rubik', sans-serif;
    vertical-align: middle;
    display: inline-block;
}




/* this is container where everything sits, apart from footer*/
#allContents{
    margin:auto;
    overflow-y: scroll;
    scroll-snap-type: y proximity;
}


/* map size has to be prescribed*/
#mapContents{
   height: 100%;
   width: 100%;
}


#menuContents{
    padding: 20px 20px 100px 20px; 
}

#datasetContents{
    padding-bottom: 100px; 
}

#locationContents{
    padding-bottom: 100px; 
}

#figureContents{
    padding: 20px 20px 100px 20px; 
    max-width: 1000px; 
    margin: auto;
}

#dataContents{
    padding: 20px 20px 100px 20px; 
    max-width: 1000px; 
    margin: auto;
}

.narrowDiv{
    margin-bottom:10px;
}





/*tables*/

td,th {
    padding:5px;
    margin:0px;
}

th { 
    text-transform: uppercase;
    background: var(--colC);
    color: var(--colE);
    text-align:left;
    font-family: 'Rubik',sans-serif;
}

.twoColour tr:nth-child(odd) { 
    background: var(--colD);
}

.twoColour tr:nth-child(even) {
    background: var(--colE);
}

.fullwidthTable{
    width: 100%;
    color: var(--colB);
}

.narrowTable{
    width: 50%;
    color: var(--colB);
    margin:auto;
}


.dataTable {
    width: auto;
}

.dataTable th {
    width: 100px;
}

.tableTitle{
    font: 120%/150% 'Rubik',sans-serif;
    margin-bottom:5px;
    text-align:center;
    background: var(--colE);
    color: var(--colA);
}

.infoLabel{
    text-transform: uppercase;
    text-align: right;
    color: var(--colC);
}

.listTable tr{
    padding-bottom: 20px;
}

.auxDiv {
    margin:auto;
    margin-bottom: 50px;
    margin-top: 50px;
    padding:20px;
    width: 50%;
    background: var(--colE);
    color: var(--colC);
    font-size: 20px;
    text-align:center;
    border: 2px solid var(--colD);
}



/*random stuff*/
.clickable {
    font-weight: bold;
    color: var(--colAnchor);
    cursor:pointer;
}

.clickable:hover{
    color: var(--colHover);
}







/*scroll indicator*/

.floatRight{
    position:fixed;
    right:0;
    z-index:10500;
}

.floatLeft{
    position:fixed;
    left:0;
    z-index:10500;
}


#fup{
    top:0;
    opacity: 0.3;
    width: 10%;
}

#fdown{
    bottom:5%;
    opacity: 0.3;
    width: 10%;
}

.floatImg{
    float: right;
    margin-right:10%;
}

#floatNav{
    top:10%;
    padding:1%;
    margin-right:2%;
    opacity: 0.5;
    text-align:center;
    background: var(--colD);
    width: 10%;
    width:70px;
}


#floatHelp{
    font-size:25px;
    width:30px;
    height:30px;
    line-height:30px;
    color: orange;
    text-align:center;
    margin-left:5px;
    cursor: pointer;
    border-radius: 18px;
    border-width: 2px;
    border-style: solid;
    border-color: orange;
    bottom:5%;
    opacity: 1;
} 

.qnavItem{
    font-size:80%;
    line-height:100%;
    padding: 3% 0 0 0; 
    margin-top:30%;
    font-weight: normal;
    text-transform: uppercase;
}








/*not sure if these are necessary*/

.centered{
    text-align: center;
    margin:auto;
}


/* these are copied from bootstrap.css and are necessary for datetimepicker to run properly*/

[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../img/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
  margin-top: 1px;
}

.icon-arrow-left {
  background-position: -240px -96px;
}

.icon-arrow-right {
  background-position: -264px -96px;
}
