/* popup for network maps */


#popupBackground{
	display:none;
	position:fixed;
	_position:absolute; /* hack for internet explorer 6*/
	height:100%;
	width:100%;
	top:0;
	left:0;
	background:#000000;
	border:1px solid #cecece;
	z-index:10000;
}

#popupWindowClose{
    position:absolute; 
    right:0px; 
    padding-right:5px; 
    top:10px;
    cursor:pointer;
    font-size:50px;
    z-index: 10002;
  }

#popupWindowClose:hover{
    color:#888888;
}

#popupWindow{	
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    _position:absolute; /* hack for internet explorer 6*/
    background:#FFFFFF;
    border: 0px solid #cecece;
    z-index: 10001;
    font-size: 13px;
    padding-bottom: 20px;
    vertical-align: middle;
}

#popupWindowContents{
    z-index: 10002;
    position:relative;
    overflow:auto;
    background:#FFFFFF;
    padding-left:0%;
    padding-right:0%;
    padding-top:0%;
    padding-bottom:0%;
    margin-left:10px;
    margin-right:10px;
    margin-top:50px;
    margin-bottom:20px;
}

#popupWindow H1{
    font-size: 40px;
    line-height: 40px;
    margin-top:50px;
}
#popupWindow H2{
    font-size: 30px;
    line-height: 30px;
    margin-top:50px;
}

#popupWindow H3{
    font-size: 20px;
    line-height: 20px;
}
#popupWindow p{
    font-size: 20px;
    margin-top:15px;
}
