--colA: #17252A;
--colB: #2B7A78;
--colC: #3AAFA9;
--colD: #DEF2F1;
--colE: #FEFFFF;
--colAnchor: #374785;
--colHover: #17252A;
}

/*
color: #17252A;
color: #2B7A78;
color: #3AAFA9;
color: #DEF2F1;
color: #FEFFFF;

color: #374785;
color: #17252A;
*/


