
#signin_menu {
    display:none;
    position:absolute;
    width:200px;
    z-index:10000;
    border:1px transparent;
}

#signin_menu input[type=text], #signin_menu input[type=password] {
    width:160px;
}

#signin_menu p {
    margin:0;
}

#signin_menu a {
    color:#6AC;
}

#signin_menu p.remember {
    padding:10px 0;
}
#signin_menu p.forgot, #signin_menu p.complete {
    clear:both;
    margin:5px 0;
}
#signin_menu p a {
    color:#27B!important;
}

#signin_submit:hover, #signin_submit:focus {
    cursor:pointer;
}

#error{
	color:red;
	font-size:11px;
}








